body {
  font-family: 'Raleway', sans-serif;
  margin: 0 10px 10px 10px;
  padding: 0 10px 10px 10px;
  margin: auto;
  max-width: 1440px;
}

main {
  margin: auto;
}

span {
  font-weight: bold;
}


/* BARRE DE NAVIGATION */

.decoration {
    text-decoration: none;
    color: initial;
    margin: 0 25px 25px 25px;
    padding: 15px 15px 15px 15px;
}

.active {
  border-top: 3px solid #0065FC;
}

.color_menu1 {
  color: blue;
}

.line_du_haut {
  width: 140px;
  height: 5px;
}
.decoration:hover {
    cursor: pointer;
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

.nav_toggle .logo {
    padding: 0;
    object-fit: cover;
  }

  .nav_toggle .logo:hover {
    cursor: pointer;
    transform: scale(1.03);
    opacity: 0.8;
    }

nav {
    display: flex;
    
}

.nav_toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_toggle .nav_style {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.logo_size {
  width: 120px;
  height: 50px;
}

.icon_filter {
    width: 20px;
    height: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    margin-right: 5px;
  }

  /* Effets pour les filtres */

  .texte_filtre_icon:hover > .text_filtre {
    color: #0065fc;
  }
  .texte_filtre_icon:hover > .icon_filtre {
    color: #DEEBFF;
    background-color: #0065fc;
  }

  .texte_filtre_icon:hover {
  cursor: pointer;
  transform: scale(1.03);
  opacity: 0.8;
  }


/* LE HEADER */

.barre_recherche {
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.recherche {
  height: 50px;
  width: 230px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  border: 0.5px solid #F2F2F2;
}

.icon_location {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
 }

 .icone_recherche_mobile {
  overflow: hidden;
}

 .buttons_recherche {
  color: white;
  height: 50px;
  width: 120px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
  background-color: #0065fc;
 }

 .recherche_mobile {
   display: none;
 }


/* FILTRES POUR LA RECHERCHE */

.filtrer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 50px;
  margin-bottom: 40px;
}

.title {
  margin-right: 25px;
  display: flex;
  flex-direction: row;
}

.liste_filtre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.texte_filtre_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}


.text_filtre {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_filtre {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -2px;
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #0065FC;
  background-color: #deebff;
}

.filtre_ligne_mobile {
  display: flex;
  flex-direction: row;
}

.filtre_colonne_mobile {
  display: flex;
  flex-direction: row;
}

/* INFO ICONE  */

.intro_info {
  display:flex;
  align-items: center;
}

.icon_info {
  padding-right: 10px;
  margin-left: 10px;
  color:#0065FC;
}

.icon_border {
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}


/* Main du site */

main {
  display: block;
  }

/* HEBERGEMENTS MARSEILLE */

.Hébergements {
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.bloc_hebergement {
  flex: 2;
  border-radius: 15px;
  background-color: #f2f2f2;
  margin-right: auto;
}

.titre_hebergement {
  margin: 15px 0 10px 15px;
  padding: 20px;
}

.offre_ref {
  width: 30%;
  height: 230px;
  margin: 0 auto 0px;
}

.offres {
  height: fit-content;
  width: 100%;
  background-color: white;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #F2F2F2;
  border-radius: 20px 20px 0 0;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.decoration_link {
    color: black;
    text-decoration: none;
}

.offres:hover {
    cursor: pointer;
    transform: scale(1.03);
    opacity: 0.8;
  }

.Hébergements .desc_offres_bloc1 {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.Hébergements .desc_offres_bloc2 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 3%;
}

.bloc_hebergement > .img_case_hebergements {
  width: 250px;
  height: 100px;
  background-size: 100% 100%;
  border-radius: 20px 20px 0 0;
}

.img_offres {
  background-size: cover;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  height: 140px;
  width: 100%;
}

.text_offre {
  margin-right: auto;
  font-size: 15px;
}

.full_star {
  color: #0065FC;
}

.empty_star {
  color: #F2F2F2
}

.lien_detail {
  text-decoration: none;
  color: initial;
}

.lien_detail h3 {
  margin: 3%;
  font-size: 20px;
}

.lien_detail:hover {
  opacity: 0.8;
  color:#0065FC;
}


.notations {
  margin-right: auto;
}

/* PARTIE SUR LES PLUS POPULAIRES  */

.part_populaires {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  box-shadow: 1px 1px 12px rgb(0, 0, 0, 0.2);
  background-color: #F2F2F2;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 25px;
  text-align: left;
}

.haut_populaire {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 20%;
  margin-top: 30px;
}

.les_plus_populaires {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.populaires {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 1%;
  margin: 4%;
  height: 30%;
  width: 85%;
  box-shadow: 10px 10px 10px 10px #F2F2F2;
  border-radius: 20px 0 0 15px;
}

.populaires h3 {
  font-size: 20px;
}

.populaires:hover {
    cursor: pointer;
    transform: scale(1.03);
    opacity: 0.8;
}

.orga_pop {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.icon_pop {
  padding: 4%;
  margin-left: 20%;
  font-size: 30px;
}

.icon_pop:hover {
  color:#0065FC;
}

.populaire_case_img {
  width: 49%;
  height: 190px;
  max-width: 250px;
  border-radius: 20px 0 0 15px;
  object-fit: cover;

}

.populaire_case_img img {
  width: 100%;
  height: 100%;
  max-height: 200px;
  min-width: 180px;
  border-radius: 20px 0 0 15px;
  object-fit: cover;
}
.decoration_link_pop {
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.desc_populaire {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.populaires .desc_populaire p {
  margin-top: 10px;
}

.populaires .desc_populaire h3 {
  margin: 10px 0 5px 0;
}

.notations_pop {
  margin-left: 15px;
  margin-top: 27%;
  display: flex;
}


/* Partie activités */

#Activités {
  width: 100%;
}

#Activités h2 {
  margin-left: 15px;
  margin-top: 25px;
  font-size: 25px;
}

#Activités h3 {
  margin-left: 15px;
  margin-top: -10px;
  font-size: 15px;
}

.desc_Activités {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 100%;
}

.contenu_activités {
  margin-bottom: 15px;
  border-radius: 10px;
  border: 2px solid #F2F2F2;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
  width: 100%;
}

.img_low {
  width: 100%;
  height: 140px;
}

.contenu_activités:hover {
  cursor: pointer;
  transform: scale(1.03);
  opacity: 0.8;
}

.img_Activités {
    background-size: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 0px 22px 0px;
    object-fit: cover;
}

.img_low_pomegues {
  width: 100%;
  height: 80%;
}

.img_low {
  width: 100%;
  height: 80%;
}

.img_large {
  width: 100%;
  height: 90%;
}

.activités_bloc1, .activités_bloc2, .activités_bloc3, .activités_bloc4 {
  margin-right: 35px;
  width: 50%;
}

.activités_bloc1 .contenu_activités {
  height: 100%;
}

.activités_bloc3 .contenu_activités {
  height: 100%;
}

.activités_bloc2 .contenu_activités_pomegues {
  height: 55%;
}

.activités_bloc2 .contenu_activités_frioul {
  height: 35%;
  margin-top: 55px;
}

.activités_bloc4 .contenu_activités_longchamp {
  height: 45%;
  margin-top: 55px;
}

.activités_bloc4 .contenu_activités_notredame {
  height: 45%;
}

/* Style du footer  */

.footer {
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer_blocs {
    display: flex;
    gap: 20%;
    width: 100%;
    max-width: 1500px
}

.foot_bloc {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.foot_bloc > * {
    margin-bottom: 15px;
  }
  
  .footer_title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .foot_link:hover {
    cursor: pointer;
    color: #0065FC;
  }
  
  .footer-bloc-assistance {
    margin-right: 20%;
  }

  /* PARTIE RESPONSIVE DU SITE  */

  @media screen and (max-width: 1380px) {
  
    body, main {
      margin-right: auto;
      max-width: 992px;
    }

    #Hébergements {
      flex-flow: column nowrap;  
      flex-basis: 100%;
      margin: 15px;
    }

    #Activités, .bloc_hebergement {
      width: 90%;
      flex-flow: wrap;
      margin: auto;
    }

    .bloc_hebergement {
      flex-flow: row wrap; 
      margin: 10px auto;
      order:2;
      flex-flow: column nowrap; 
      width: 100%;
      align-items: center;
      background-color: white;
    }
  
    #hebergements {
      flex-direction: row;
    }

  .part_populaires {
    order:1;
    flex-flow: column nowrap; 
    width: 100%;
    margin: auto;
  }

  .les_plus_populaires {
    width: 100%;
  }

  .populaires {
    flex-basis: 100%;
  }

  .img_populaires {
    flex-flow: column nowrap; 
    flex-basis: 100%;
  }

  .notations_pop {
    margin-top: 18%;
  }
  
  .icon_pop {
    margin-left: 40%;
    font-size: 40px;
  }

  .haut_populaire {
    align-items: center;
  }
  
.populaire_case_img {
  height: 180px;
  max-width: 200px;
  border-radius: 20px 0 0 15px;
  object-fit: cover;

}

.desc_Activités {
  height: 400px;
}

.img_large {
  height: 85%;
}

.img_low {
  height: 65%;
}

.activités_bloc2 .contenu_activités_frioul {
  margin-top: 37px;
}

.activités_bloc4 .contenu_activités_longchamp {
  margin-top: 37px;
}

  }

  @media screen and (max-width: 992px) {
  
    body, main {
      margin-right: auto;
      max-width: 992px;
    }

    .filtrer {
      margin: 0%;
      padding: 0%;
      flex-direction: column;
    }

    header .section {
      margin-right: 10px;
      margin-left: 10px;
    }

    .liste_filtre {
      margin-left: 10px;
    }

    .barre_recherche {
      width: 100%;
    }


    #Activités {
      width: 90%;
      flex-flow: wrap;
      margin: auto;
    }
 
  .offres {
    width: 95%;
    margin-left: 15px;
  }

  .img_offres {
    width: 100%;
    height: 200px;
  }
  .desc_offres_bloc1, .desc_offres_bloc2 {
    flex-flow: column wrap; 
    width: 100%;
  }

  .desc_Activités {
    width: 100%;
    height: 100%;
    flex-flow: column; 
    margin-left: 20px;
  }

  .activités_bloc1, .activités_bloc3,
  .activités_bloc2, .activités_bloc4 {
    flex: none;
    width: 100%;
  }

  .contenu_activités {
    width: 100%;
    height: 100%;
    margin: 3% 0 3% 0;
  }

  .activités_bloc2 .contenu_activités_frioul {
    margin: 3% 0 3% 0;
  }

  .activités_bloc4 .contenu_activités_longchamp{
    margin: 3% 0 3% 0;
  }

  .img_low .img_large {
    width: 100%;
    height: 300px;
  }

  .img_Activités {
    width: 100%;
    height: 200px;
  }

  .activités_bloc2, .activités_bloc4{
    display: flex;
    flex-direction: column;
    height: 100%;
  }


  }


  @media screen and (max-width: 768px) {

    .logo {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .menu {
      width: 100%;
      justify-content: flex-start;
    }

    .menu .line_du_haut {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .decoration {
      margin: 25px 15px 25px 0;
      width: 90%;
      border-bottom: 5px solid #f2f2f2;
    }

    .nav_toggle {
      flex-direction: column;
    }

    .nav_toggle .logo {
      margin-top: 20px;
      display: flex;
    }

    .taille_mobile {
      width: 100%;
      text-align: center;
    }


    .active {
      border-top: none;
      border-bottom: 5px solid #0065FC;
    }

    header h1 {
      margin: 15px;
      font-size: x-large;
    }

    header p {
      margin: 15px;
    }

    .liste_filtre .filtre_tel {
      width: 35%;
    }

    .texte_filtre_icon {
      margin: 10px;
    }

    .filtre_ligne_mobile .texte_filtre_icon{
      justify-content: flex-start;
      flex-direction: row;
      width: 35%;
      margin-left: 15px;
    }

    
    .filtre_ligne_mobile {
      flex-direction: row;
      align-items: flex-start ;
      margin-left: -5px;
    }

    .filtre_colonne_mobile {
      flex-direction: column;
      align-items:flex-start;
      width: 70%;
      margin-left: -5px;
    }

    .liste_filtre {
      margin: 0%;
    }

    .texte_filtre_icon .filtre_tel {
      width: 180px;
    }

    .texte_filtre_icon.filtre_border_mobile {
      width: 146px;
    }

    .barre_recherche {
      margin: 20px 0 5px 15px;
    }

    .recherche {
      width: 200px;
      border: 1px solid #F2F2F2;
      width: auto;
      border: none;
    }

    .buttons_recherche {
      width: 50px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
     }

    .icone_recherche_mobile {
      display: none;
    }
    
    .decoration:hover {
      cursor: pointer;
      border-top: none;
      border-bottom: 5px solid #0065FC;
      color: #0065FC;
  }

  .recherche_mobile {
    display: flex;
  }
 

    .filtrer {
      display: block;
      width: 100%;
    }

  .liste_filtre {
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
  }

  .title {
    margin-bottom: auto;
    padding: 15px;
  }

  .intro_info {
    margin-left: 12px;
    font-size: 17px;
  }

  /* Le main version mobile */

.les_plus_populaires {
  width: 100%;
}

.populaires {
  width: 90%;
}

.part_populaires {
  margin-bottom: 15px;
  width: 100%;
  border-radius: 0%;
  box-shadow: none;
}

.notations_pop {
  margin-top: 10%;
  margin-bottom: 5px;
}

.lien_detail h3 {
  margin-left: 5px;
}

.icon_pop {
  margin: 10px 0 0 6px;
}

.populaire_case_img {
  height: 100%;
  border-radius: 20px 0 0 15px;
  object-fit: cover;
}

.populaire_case_img img{
  width: 100%;
  height: 100%;
  max-height: 130px;
  max-width: 180px;
  border-radius: 20px 0 0 15px;
  object-fit: cover;
}

.populaires h3 {
  font-size: 17px;
}

.populaires .desc_populaire p {
  margin-top: 0%;
  font-size: 15px
}

.bloc_hebergement {
  margin: 0;
  width: 100%;
}

.desc_Activités {
  width: 95%;
  margin: auto;
  padding: auto;
}

.img_offres {
  height: 130px;
}

.titre_hebergement {
  font-size: 20px;
  margin-left: -15px;
}


.img_low .img_large {
  width: 100%;
  height: 130px;
}

.img_Activités {
  width: 100%;
  height: 130px;
}

#Activités {
  width: 100%;
}

.contenu_activités {
  width: 95%;
}
  .footer_blocs {
    flex-direction: column;
  }

  }