html {
    font-family: 'Raleway', sans-serif;
    margin: 10px;
    padding: 10px;
    max-width: 1440px;
    width: 100%;
}

main {
  max-width: 100%;
}

span {
  font-weight: bold;
}

body {
	display: flex;
  flex-direction: column;
  align-items:stretch;
  justify-content: space-around;
}

/* BARRE DE NAVIGATION */

.decoration {
    text-decoration: none;
    color: initial;
    margin: 25px;
    padding: 15px;
}

.active {
  border-top: 1px solid blue
}

.color_menu1 {
  color: blue;
}

.line_du_haut {
  width: 140px;
  height: 5px;
}
.decoration:hover {
    cursor: pointer;
    border-top: 1px solid blue;
    color: #0065FC;
}

.logo {
    padding: 0;
    object-fit: cover;
  }

nav {
    display: flex;
    
}

.nav_toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_toggle .nav_style {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.logo_size {
  width: 120px;
  height: 50px;
}
  icon_filter {
    width: 20px;
    height: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    margin-right: 5px;
  }

 



/* LE HEADER */

.barre_recherche {
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.recherche {
  height: 50px;
  width: 230px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  border: 0.5px solid #F2F2F2;
}

.icon_location {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
 }

 .buttons_recherche {
  color: white;
  height: 50px;
  width: 120px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
  background-color: blue;
 }

/* FILTRES POUR LA RECHERCHE */

.filtrer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 40px;
}

.title {
  margin-right: 25px;
}

.liste_filtre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.texte_filtre_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}


.text_filtre {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_filtre {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -2px;
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #0065FC;
  background-color: #deebff;
}

/* INFO ICONE  */

.intro_info {
  display:flex;
  align-items: center;
}

.icon_info {
  padding-right: 10px;
  margin-left: 10px;
  color:#0065FC;
}

.icon_border {
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}


/* Main du site */

main {
  display: block;
  }

/* HEBERGEMENTS MARSEILLE */

.Hébergements {
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.bloc_hebergement {
  flex: 2;
  border-radius: 15px;
  background-color: #f2f2f2;
  margin-right: auto;
}

.titre_hebergement {
  margin-right: auto;
  margin-left: 15px;
  padding: 20px;
}

.offre_ref {
  width: 30%;
  height: 230px;
  margin: 0 auto 0px;
}

.offres {
  height: fit-content;
  width: 100%;
  height: 350px;
  background-color: white;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
}

.decoration_link {
    color: black;
    text-decoration: none;
}

.offres:hover {
    cursor: pointer;
    transform: scale(1.03);
    opacity: 0.8;
  }

.Hébergements .desc_offres_bloc1 {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.Hébergements .desc_offres_bloc2 {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.img_offres {
  background-size: cover;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  height: 50%;
  width: 100%;
}

.text_offre {
  margin-right: auto;
  font-size: 15px;
}

.full_star {
  color: #0065FC;
}

.empty_star {
  color: #F2F2F2
}

.lien_detail h2 {
  font-weight: bold;
  margin-top: auto;
  margin-left: 30px;
  padding-top: 20px;
}


.notations {
  margin-right: auto;
  margin-top: 50px;
}

/* PARTIE SUR LES PLUS POPULAIRES  */

.part_populaires {
  flex: 1;
  box-shadow: 1px 1px 12px rgb(0, 0, 0, 0.2);
  background-color: #F2F2F2;
  border-radius: 10px;
  margin-left: 40px;
  text-align: left;
}

.haut_populaire {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-top: 30px;
  margin-left: 15px;
}

.les_plus_populaires {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.populaires {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 1%;
  margin: 10%;
  height: 30%;
  width: 80%;
  box-shadow: 10px 10px 10px 10px #F2F2F2;
  border-radius: 10px;
}

.populaires:hover {
    cursor: pointer;
    transform: scale(1.03);
    opacity: 0.8;
}

.orga_pop {
  display: flex;
  flex-direction: column;
}

.icon_pop {
  margin-right: 10px;
  font-size: 50px;
}

.img_populaires {
  width: 40%;
  height: 200px;
  border-radius: 20px 0 0 15px;
  object-fit: cover;
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.desc_populaire {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 15px;
}

.notations_pop {
  margin-left: 15px;
  margin-top: 25px;
}

/* Partie activités */


#Activités h2 {
  margin-right: auto;
  margin-left: 15px;
  margin-top: 15px;
}

.desc_Activités {
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 100%;
}

.contenu_activités {
  margin: none;
  padding: none;
  border-radius: 10px;
  border: 2px solid #F2F2F2;
  text-align: center;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.img_low {
  width: 100%;
  height: 195px;
}

.img_large {
  width: 100%;
  height: 80%;
}

.contenu_activités:hover {
  cursor: pointer;
  transform: scale(1.03);
  opacity: 0.8;
}

.img_Activités {
    background-size: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 0px 22px 0px;
    object-fit: cover;
}

.titre_activité {
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}

.activités_bloc1 {
  margin-right: 15px;
}

.activités_bloc1 .contenu_activités {
  height: 100%;
}

.activités_bloc3 .contenu_activités {
  height: 100%;
}

.activités_bloc2 .contenu_activités {
  height: 50%;
}

/* Style du footer  */

.footer {
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer_blocs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px
}

.foot_bloc {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.foot_bloc > * {
    margin-bottom: 15px;
  }
  
  .footer_title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .foot_link:hover {
    cursor: pointer;
    text-decoration-line: underline;
    color: #0065FC;
  }
  
  .footer-bloc-assistance {
    margin-right: 20%;
  }

  /* PARTIE RESPONSIVE DU SITE  */

  @media screen and (max-width: 992px) {
  
    html, body {
      flex-basis: 100%;
      flex-flow: column nowrap; 
      margin: auto;
      padding: auto;
    }

    #Activités, .bloc_hebergement {
      width: 992px;
      flex-flow: wrap;
    }

    .bloc_hebergement {
      flex-basis: 100%;
      flex-flow: row wrap; 
    }
  
    #hebergements {
      flex-direction: row;
    }

  .part_populaires {
    order:1;
    flex-flow: column nowrap; 
    width: 100%;
    height: 1200px;
    margin-left: auto;

  }

  .populaires {
    flex-basis: 100%;
  }

  .img_populaires {
    flex-flow: column nowrap; 
    flex-basis: 100%;
  }

  .bloc_hebergement {
    order:2;
    flex-flow: column nowrap; 
    width: 100%;
    align-items: center;
    background-color: white;
  }

  #Hébergements {
    flex-flow: column nowrap;  
    flex-basis: 100%;
  }
 
  .offres {
    width: 100%;
    margin-left: auto;
  }
  .img_offres {
    width: 100%;
  }
  .desc_offres_bloc1, .desc_offres_bloc2 {
    flex-flow: column nowrap; 
    width: 100%;
  }

  .desc_Activités {
    width: 100%;
    flex-flow: column nowrap; 
  }

  .activités_bloc1, .activités_bloc3,
  .activités_bloc2, .activités_bloc4 {
    flex: none;
    width: 100%;
  }

  #Activités {
    width: 100%;
    height: 100%;
    margin: none;
  }

  .Acitivités {
    height: 100%;
    width: 100%;
  }
  .img_low .img_large {
    width: 100%;
    height: 200px;
  }
  .img_Activités {
    width: 600px;
    height: 200px;
  }

  .activités_bloc2, .activités_bloc4{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  }


  @media screen and (max-width: 768px) {

    html, body {
      flex-basis: 100%;
      flex-flow: column nowrap; 
      margin: auto;
      padding: auto;
    }

    .nav_toggle {
      flex-direction: column;
    }

    .logo {
      font-size: 50px;
    }

    .active {
      border-top: none;
      border-bottom: 1px solid blue;
    }

    .decoration:hover {
      cursor: pointer;
      border-top: none;
      border-bottom: 1px solid blue;
      color: #0065FC;
  }
    .filtrer {
      display: block;
      width: 100%;
    }

  .liste_filtre {
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }


  .title {
    margin-bottom: auto;
    padding: 15px;
  }

  /* Le main version mobile */


  .footer_blocs {
    flex-direction: column;
  }

  }